

  <main>
    <div class="container blogAll">
      <div class="blog">
        <div class="blogImg">
          <img src="img/post.jpg" alt="">
        </div>
        <div class="blogName">
          <h4>Делаем админпанель на Node.js</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe obcaecati, laudantium veniam doloremque illo ksdfjsdfbsfdbsd fdjjdsjkfsdkjfb sjkdbfs dbfsjdbfsd bfsdb fsdf</p>
        </div>
        <div class="blogLink">
          <a href="soloBlog">Читать далее...</a>
        </div>
      </div>
      <div class="blog">
        <div class="blogImg">
          <img src="img/post.jpg" alt="">
        </div>
        <div class="blogName">
          <h4>Имя блога</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe obcaecati, laudantium veniam doloremque illo</p>
        </div>
        <div class="blogLink">
          <a href="#">Читать далее...</a>
        </div>
      </div>
      <div class="blog">
        <div class="blogImg">
          <img src="img/post.jpg" alt="">
        </div>
        <div class="blogName">
          <h4>Имя блога</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="blogLink">
          <a href="#">Читать далее...</a>
        </div>
      </div>
      <div class="blog">
        <div class="blogImg">
          <img src="img/post.jpg" alt="">
        </div>
        <div class="blogName">
          <h4>Имя блога</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe obcaecati, laudantium veniam doloremque illo</p>
        </div>
        <div class="blogLink">
          <a href="#">Читать далее...</a>
        </div>
      </div>
    </div>
    <div class="preFooterLine"></div>
  </main>
