<% if (typeof user != 'undefined'){ %>
<p>Привет, <%= user.email %> !</p>
<button onclick="document.location='/logout'" type="button" value="" class="btn btn-light btn-sm logOut"> <i class="fa fa-sign-out" aria-hidden="true"></i></button>
<% } %>
