
  <main>
    <div class="mainBlock">
      <a href="#">
        <div class="select">
          <div class="d-flex align-items-end">
            <h2>Девушкам</h2>
          </div>
          <div class="d-flex align-items-start circle dawn"></div>
        </div>
      </a>
      <a href="#">
        <div class="select">
          <div class="d-flex align-items-end">
            <h2>Детям</h2>
          </div>
          <div class="d-flex align-items-start circle dawn"></div>
        </div>
      </a>
      <a href="#">
        <div class="select">
          <div class="d-flex align-items-end">
            <h2>Мужчинам</h2>
          </div>
          <div class="d-flex align-items-start circle dawn"></div>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center d-flex align-items-center postDescription">
      <blockquote>
        <p> Посмотрела и осознала то, что на самом деле сделать качественно - очень легко, главное желание! </p>
        <cite>Лиза Котелевская</cite>
      </blockquote>
    </div>
    <div class="container changeUs">
      <div class="d-flex align-items-center why">
        <h2>Почему мы?</h2>
      </div>
      <div>
        <ul>
          <li>Мы производители одежды и мы патриоты своего дела. </li>
          <li>Наша команда всегда следим за качеством, комфортом, практичностью и актуальностью каждой модели.</li>
          <li>Мы можем позволить себе порадовать Вас распаровковкой комплектов по размерам.</li>
          <li>Если у Вас уникальные параметры фигуры, мы поможем Вам подобрать необходимый размер комплекта.</li>
          <li>Вы можете приобрести любую единицу комплекта отдельно (шорты, рубашка, брюки, пиджак и пр).</li>
          <li>Мы так же шьем для Вас размеры XS, XL и другие.</li>
          <li>Только для наших покупателей идеальный Family Look.</li>
        </ul>
      </div>
    </div>
    <div class="preFooterLine"></div>
  </main>
