
    <div class="container solo">
      
      <div class="">
        <h2 >Привет, <%= user.name %> !</h2>


      </div>
      <div class="blogInfo">
        <h4>Здесь ты можешь отслеживать свои заказы =)</h4>

      </div>
    </div>
    <div class="preFooterLine"></div>
