<div class="container solo">
  <div class="soloBlogImg d-flex justify-content-center">
    <img src="img/post.jpg" alt="">
  </div>
  <div class="blogInfo">
    <h4>Делаем админпанель для MySQL и MongoDB на Node.js</h4>
    <p>Отсутствие универсальных веб-интерфейсов для управления распространенными СУБД, несколько усложняет освоение Node.js, а разворачивать рядом другой веб-сервер и другой язык с инфраструктурой, ой как не хочется. Открывать порты и управлять
      базами, подключаясь с другого сервера или со своего рабочего компьютера — это и неудобно и есть соображения безопасности. Поэтому мы решили включить такой инструмент в платформу для веб-приложений Impress, которую анонсировали, о которой я
      немного писал и которая доступна в открытом коде для всеобщей пользы. Задумка такая: реализовать простой и удобный унифицированный интерфейс для СУБД, которые чаще всего применяются в связке с Node.js, позаботиться о быстром развертывании
      (просто скопировать папку) и независимости от среды. В бета-версии уже поддерживаются MySQL, MongoDB и в скором времени очередь дойдет до PostgreSQL и Oracle.</p>
    <p>Для всех операций с БД используется скаффолдинг, т.е. построение интерфейсов, запросов и всех операций обработки данных на основе динамического получения метаданных о структуре БД или интроспекции структур СУБД. Интерфейс представлен ниже на
      картинке. Дерево трехуровневое, первый уровень — соединения с БД (они, естественно, пока двух типов), второй уровень — базы данных, третий уровень — коллекции (для Mongo) и таблицы (для MySQL). На узлах дерева можно вызывать контекстное меню
      правой кнопкой мыши.</p>
  </div>
</div>
<div class="preFooterLine"></div>
